/* Style for our header texts
	* --------------------------------------- */

body {
    /*background: #1b7ae4;*/
    background: rgba(27,121,228,1);
    background: -moz-linear-gradient(left, rgba(27,121,228,1) 0%, rgba(93,142,194,1) 94%, rgba(93,142,194,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(27,121,228,1)), color-stop(94%, rgba(93,142,194,1)), color-stop(100%, rgba(93,142,194,1)));
    background: -webkit-linear-gradient(left, rgba(27,121,228,1) 0%, rgba(93,142,194,1) 94%, rgba(93,142,194,1) 100%);
    background: -o-linear-gradient(left, rgba(27,121,228,1) 0%, rgba(93,142,194,1) 94%, rgba(93,142,194,1) 100%);
    background: -ms-linear-gradient(left, rgba(27,121,228,1) 0%, rgba(93,142,194,1) 94%, rgba(93,142,194,1) 100%);
    background: linear-gradient(to right, rgba(27,121,228,1) 0%, rgba(93,142,194,1) 94%, rgba(93,142,194,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b79e4', endColorstr='#5d8ec2', GradientType=1 );
}


h1, h2{
    font-size: 5em;
    font-family: arial,helvetica;
    color: #fff;
    margin:0;
    padding:0;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
    text-align:center;
    overflow: hidden;
}

#myVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black; /* in case the video doesn't fit the whole page*/
    background-image: /* our video */;
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index:3;
}



/* Layer with position absolute in order to have it over the video
* --------------------------------------- */
#section0 .layer{
    position: absolute;
    z-index: 4;
    width: 100%;
    left: 0;
    top: 43%;
}

/*solves problem with overflowing video in Mac with Chrome */
#section0{
    overflow: hidden;
}


/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
    color: #fff;
}

#video {
    width: 100%;
    height:100%;
}

#clock {
    font-size: 16em;
}

.bg-temp {
    color: #fff;
    font-size: 6em;
    display: inline-flex;
    padding: 40px;
}

.bg-temp li {
    padding: 20px;
}

.bg-icon i {
    font-size: 5em
}

.bg-mini-icon i {
    font-size: 5em;
}

.bg-mini-day,
.bg-mini-temp {
    color:white;
    text-align: center;
}

.bg-mini-day {
    font-size: 3em;
}

.bg-mini-temp {
    font-size: 3em;
}

.under-time {
    height: 4px;
    width: 80%;
    margin: 0 auto;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1b7ae4+0,ffffff+32,ffffff+70,1b7ae4+100 */
    background: #1b7ae4; /* Old browsers */
    background: -moz-linear-gradient(left,  #1b7ae4 0%, #ffffff 32%, #ffffff 70%, #1b7ae4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #1b7ae4 0%,#ffffff 32%,#ffffff 70%,#1b7ae4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #1b7ae4 0%,#ffffff 32%,#ffffff 70%,#1b7ae4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b7ae4', endColorstr='#1b7ae4',GradientType=1 ); /* IE6-9 */
}

.divider {
    margin: 10em 0;
}

.other-cities li,
.other-cities li i{
    color: #fff;
    font-size: 3em;
}